body {
  width: 80%;
  margin: auto;
}

#chat {
  margin-top: 150px;
}

.chat-input {
  width: 100%;
}
.chat-input.pseudonyme {
  text-align: center;
  height: 50px;
}

.box-message {
  background: #f3f3f3;
  height: 300px;
  max-height: 300px;
}
