<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
  </head>
  <body>
    <div id="chat">
        <div v-if="user.name === null">
          <input type="text" class="chat-input pseudonyme" v-on:keyup.enter="setPseudonyme($event)" placeholder="Enter your pseudonyme and press enter">
        </div>
        <div v-else>
          <ul class="nav nav-tabs" role="tablist">
            <li v-for="room in rooms" role="presentation"><a v-on:click="changeRoom(room.name)" v-bind:href="'#'+room.name" v-bind:aria-controls="room.name" role="tab" data-toggle="tab">{{ room.name }}</a></li>
          </ul>
          <div class="tab-content">
            <ul v-for="room in rooms" v-bind:id="room.name" role="tabpanel" class="tab-pane fade box-message">
              <li v-for="item in room.messages">
                {{ item }}
              </li>
            </ul>
          </div>
          <input type="text" class="chat-input" name="chat-message" placeholder="Enter your message"
                 v-on:keyup.enter="sendMessage" v-model="message">
        </div>
    </div>
    <script type="text/javascript" src='/compiled/bundle.js'></script>
  </body>
</html>
